body{
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

.centered{
    margin:  auto; 
}

.silver-border{
    border-style: solid;
    border-width: 1px;
    border-color: silver;
}

.beige-background{
    background-color: #EEF5DB;
}

.blue-background{
    background-color: #2C3E50;
}

.beige-font{
    color: #EEF5DB;
}

.blue-font{
    color: #2C3E50;  
}

.container-fluid{
    padding-top: 10px;
    padding-bottom: 15px;
}

.profile-picture{
    width: 75%; 
    height: auto;  /*to maintain aspect ratio.*/
    border-radius: 25%;
    margin: 1em 0em 0em 0em;
}

.picture{
    max-width:80%; 
    height:auto;
}

.icon{
    max-width: 100px;
    height: auto;
}

#name{
    color:white;
}

.row{
    margin-bottom: 30px;
    margin-top: 15px; 
}

#myWork{
    background-image: url("pictures/Milestone.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
}

#letsMeetRow{
    height: 50vh;
    position: relative;
}

h1, h2{
    text-align:center;
    text-transform: uppercase;
}